<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.NoticeMapper">

<!-- <select id="" parameterType=""  resultType = "">
</select>

<insert id="" parameterType="">
</insert>

<update id="" parameterType="">
</update>

<delete id="" parameterType="">
</delete> -->

</mapper>